In [1]:
import numpy as np
import pandas as pd

In [2]:
test=pd.read_csv('results.csv')
print(test.shape)
test.head()

(25840, 18)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [3]:
test=test[(test['raceId']>1050)&(test['raceId']<1074)]
test.shape

(440, 18)

In [4]:
unique_rows_drivers = test.drop_duplicates(subset='driverId')
unique_rows_drivers.shape

(21, 18)

In [5]:
drivers_2021=unique_rows_drivers['driverId']
len(drivers_2021)

21

In [6]:
drivers=pd.read_csv('drivers.csv')
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:
filtered_drivers = drivers[drivers['driverId'].isin(drivers_2021)]
filtered_drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
7,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
452,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly
814,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
816,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
829,830,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
831,832,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.
838,839,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
839,840,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
840,841,giovinazzi,99,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi
842,844,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [8]:
test

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24960,24966,1052,1,131,44,2,1,1,1,25.0,56,1:32:03.897,5523897,44,4,1:34.015,207.235,1
24961,24967,1052,830,9,33,1,2,2,2,18.0,56,+0.745,5524642,41,2,1:33.228,208.984,1
24962,24968,1052,822,131,77,3,3,3,3,16.0,56,+37.383,5561280,56,1,1:32.090,211.566,1
24963,24969,1052,846,1,4,7,4,4,4,12.0,56,+46.466,5570363,38,6,1:34.396,206.398,1
24964,24970,1052,815,9,11,0,5,5,5,10.0,56,+52.047,5575944,44,3,1:33.970,207.334,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25395,25401,1073,849,3,6,16,\N,R,16,0.0,50,\N,\N,30,15,1:29.293,212.912,3
25396,25402,1073,841,51,99,14,\N,R,17,0.0,33,\N,\N,33,16,1:29.442,212.557,6
25397,25403,1073,847,3,63,17,\N,R,18,0.0,26,\N,\N,23,19,1:30.647,209.732,6
25398,25404,1073,8,51,7,18,\N,R,19,0.0,25,\N,\N,23,18,1:29.698,211.951,23
25399,25405,1073,853,210,9,20,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,139

In [9]:
unique_rows_const = test.drop_duplicates(subset='constructorId')
unique_rows_const.shape

(10, 18)

In [11]:
const_2021=unique_rows_const['constructorId']
len(const_2021)
const_2021

24960    131
24961      9
24963      1
24965      6
24968    213
24969    117
24970     51
24972    214
24973      3
24975    210
Name: constructorId, dtype: int64

In [12]:
teams=pd.read_csv('constructors.csv')
print(teams.shape)
teams.head()

(211, 5)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [13]:
filtered_teams = teams[teams['constructorId'].isin(const_2021)]
filtered_teams

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
8,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
49,51,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
115,117,aston_martin,Aston Martin,British,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
129,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [14]:
unique_rows_drivers

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24960,24966,1052,1,131,44,2,1,1,1,25.0,56,1:32:03.897,5523897,44,4,1:34.015,207.235,1
24961,24967,1052,830,9,33,1,2,2,2,18.0,56,+0.745,5524642,41,2,1:33.228,208.984,1
24962,24968,1052,822,131,77,3,3,3,3,16.0,56,+37.383,5561280,56,1,1:32.090,211.566,1
24963,24969,1052,846,1,4,7,4,4,4,12.0,56,+46.466,5570363,38,6,1:34.396,206.398,1
24964,24970,1052,815,9,11,0,5,5,5,10.0,56,+52.047,5575944,44,3,1:33.970,207.334,1
24965,24971,1052,844,6,16,4,6,6,6,8.0,56,+59.090,5582987,39,11,1:34.988,205.112,1
24966,24972,1052,817,1,3,6,7,7,7,6.0,56,+66.004,5589901,36,10,1:34.932,205.233,1
24967,24973,1052,832,6,55,8,8,8,8,4.0,56,+67.100,5590997,48,7,1:34.509,206.151,1
24968,24974,1052,852,213,22,13,9,9,9,2.0,56,+85.692,5609589,38,8,1:34.761,205.603,1
24969,24975,1052,840,117,18,10,10,10,10,1.0,56,+86.713,5610610,31,9,1:34.865,205.378,1
24970,24976,1052,8,51,7,14,11,11,11,0.0,56,+88.864,5612761,45,14,1:35.192,204.672,1
24971,24977,1052,841,51,99,12,12,12,12,0.0,55,\N,\N,32,13,1:35.122,204.823,11
24972,24978,1052,839,214,31,16,13,13,13,0.0,55,\N,\N,33,15,1:35.250,204.548,11
24973,24979,1052,847,3,63,15,14,14,14,0.0,55,\N,\N,40,12,1:35.036,205.008,11
24974,24980,1052,20,117,5,20,15,15,15,0.0,55,\N,\N,26,16,1:35.566,203.871,11
24975,24981,1052,854,210,47,18,16,16,16,0.0,55,\N,\N,38,18,1:36.134,202.667,11
24976,24982,1052,842,213,10,5,17,17,17,0.0,52,\N,\N,48,5,1:34.090,207.069,31
24977,24983,1052,849,3,6,17,18,18,18,0.0,51,\N,\N,16,19,1:36.602,201.685,31
24978,24984,1052,4,214,14,9,\N,R,19,0.0,32,\N,\N,31,17,1:36.063,202.816,23
24979,24985,1052,853,210,9,19,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,3
25214,25220,1064,9,51,88,16,15,15,15,0.0,70,\N,\N,44,14,1:15.442,203.234,12

In [15]:
columns_to_keep = ['raceId', 'driverId', 'constructorId']

In [16]:
drivers_teams=unique_rows_drivers[columns_to_keep]

In [17]:
megred_1=pd.merge(drivers_teams,filtered_drivers,on='driverId')
megred_1

,raceId,driverId,constructorId,driverRef,number,code,forename,surname,dob,nationality,url
0,1052,1,131,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,1052,830,9,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
2,1052,822,131,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
3,1052,846,1,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
4,1052,815,9,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
5,1052,844,6,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc
6,1052,817,1,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
7,1052,832,6,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.
8,1052,852,213,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
9,1052,840,117,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
10,1052,8,51,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
11,1052,841,51,giovinazzi,99,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi
12,1052,839,214,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
13,1052,847,3,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
14,1052,20,117,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
15,1052,854,210,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
16,1052,842,213,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly
17,1052,849,3,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
18,1052,4,214,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
19,1052,853,210,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
20,1064,9,51,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,http://en.wikipedia.org/wiki/Robert_Kubica

In [18]:
megred_2=pd.merge(megred_1,filtered_teams,on='constructorId')
megred_2

,raceId,driverId,constructorId,driverRef,number,code,forename,surname,dob,nationality_x,url_x,constructorRef,name,nationality_y,url_y
0,1052,1,131,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
1,1052,822,131,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
2,1052,830,9,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
3,1052,815,9,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
4,1052,846,1,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
5,1052,817,1,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
6,1052,844,6,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
7,1052,832,6,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
8,1052,852,213,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
9,1052,842,213,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
10,1052,840,117,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll,aston_martin,Aston Martin,British,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
11,1052,20,117,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel,aston_martin,Aston Martin,British,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
12,1052,8,51,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
13,1052,841,51,giovinazzi,99,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
14,1064,9,51,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,http://en.wikipedia.org/wiki/Robert_Kubica,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
15,1052,839,214,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
16,1052,4,214,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
17,1052,847,3,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
18,1052,849,3,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
19,1052,854,210,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
20,1052,853,210,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team

In [19]:
columns_to_keep = ['raceId', 'driverId', 'constructorId','driverRef','code','name']
final=megred_2[columns_to_keep]

In [20]:
final

    raceId  driverId  constructorId        driverRef code            name
0     1052         1            131         hamilton  HAM        Mercedes
1     1052       822            131           bottas  BOT        Mercedes
2     1052       830              9   max_verstappen  VER        Red Bull
3     1052       815              9            perez  PER        Red Bull
4     1052       846              1           norris  NOR         McLaren
5     1052       817              1        ricciardo  RIC         McLaren
6     1052       844              6          leclerc  LEC         Ferrari
7     1052       832              6            sainz  SAI         Ferrari
8     1052       852            213          tsunoda  TSU      AlphaTauri
9     1052       842            213            gasly  GAS      AlphaTauri
10    1052       840            117           stroll  STR    Aston Martin
11    1052        20            117           vettel  VET    Aston Martin
12    1052         8             51        raikkonen  RAI      Alfa Romeo
13    1052       841             51       giovinazzi  GIO      Alfa Romeo
14    1064         9             51           kubica  KUB      Alfa Romeo
15    1052       839            214             ocon  OCO  Alpine F1 Team
16    1052         4            214           alonso  ALO  Alpine F1 Team
17    1052       847              3          russell  RUS        Williams
18    1052       849              3           latifi  LAT        Williams
19    1052       854            210  mick_schumacher  MSC    Haas F1 Team
20    1052       853            210          mazepin  MAZ    Haas F1 Team

In [21]:
df=pd.read_csv('pit_stops.csv')
df

      raceId  driverId  stop  lap      time duration  milliseconds
0        841       153     1    1  17:05:23   26.898         26898
1        841        30     1    1  17:05:52   25.021         25021
2        841        17     1   11  17:20:48   23.426         23426
3        841         4     1   12  17:22:34   23.251         23251
4        841        13     1   13  17:24:10   23.842         23842
...      ...       ...   ...  ...       ...      ...           ...
9629    1096       849     2   38  18:02:50   25.174         25174
9630    1096       840     2   40  18:04:44   21.802         21802
9631    1096       839     2   41  18:06:09   21.734         21734
9632    1096       846     2   42  18:07:36   21.559         21559
9633    1096       855     2   44  18:11:10   23.159         23159

[9634 rows x 7 columns]

In [22]:
df[df['raceId']==1063]

Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []

In [23]:
df2=pd.read_csv('races.csv')
df2.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [24]:
temp2=df2[df2['year']==2021]
temp2

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1035,1053,2021,2,21,Emilia Romagna Grand Prix,2021-04-18,13:00:00,http://en.wikipedia.org/wiki/2021_Emilia_Romag...,2021-04-16,\N,2021-04-16,\N,2021-04-17,\N,2021-04-17,\N,\N,\N
1037,1052,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,http://en.wikipedia.org/wiki/2021_Bahrain_Gran...,2021-03-26,\N,2021-03-26,\N,2021-03-27,\N,2021-03-27,\N,\N,\N
1038,1051,2021,20,78,Qatar Grand Prix,2021-11-21,14:00:00,http://en.wikipedia.org/wiki/2021_Qatar_Grand_...,2021-11-19,\N,2021-11-19,\N,2021-11-20,\N,2021-11-20,\N,\N,\N
1039,1054,2021,3,75,Portuguese Grand Prix,2021-05-02,14:00:00,http://en.wikipedia.org/wiki/2021_Portuguese_G...,2021-04-30,\N,2021-04-30,\N,2021-05-01,\N,2021-05-01,\N,\N,\N
1040,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...,2021-05-07,\N,2021-05-07,\N,2021-05-08,\N,2021-05-08,\N,\N,\N
1041,1056,2021,5,6,Monaco Grand Prix,2021-05-23,13:00:00,http://en.wikipedia.org/wiki/2021_Monaco_Grand...,2021-05-21,\N,2021-05-21,\N,2021-05-22,\N,2021-05-22,\N,\N,\N
1042,1057,2021,6,73,Azerbaijan Grand Prix,2021-06-06,12:00:00,http://en.wikipedia.org/wiki/2021_Azerbaijan_G...,2021-06-04,\N,2021-06-04,\N,2021-06-05,\N,2021-06-05,\N,\N,\N
1043,1058,2021,8,70,Styrian Grand Prix,2021-06-27,13:00:00,http://en.wikipedia.org/wiki/2021_Styrian_Gran...,2021-06-25,\N,2021-06-25,\N,2021-06-26,\N,2021-06-26,\N,\N,\N
1044,1059,2021,7,34,French Grand Prix,2021-06-20,13:00:00,http://en.wikipedia.org/wiki/2021_French_Grand...,2021-06-18,\N,2021-06-18,\N,2021-06-19,\N,2021-06-19,\N,\N,\N
1045,1060,2021,9,70,Austrian Grand Prix,2021-07-04,13:00:00,http://en.wikipedia.org/wiki/2021_Austrian_Gra...,2021-07-02,\N,2021-07-02,\N,2021-07-03,\N,2021-07-03,\N,\N,\N
1046,1061,2021,10,9,British Grand Prix,2021-07-18,14:00:00,http://en.wikipedia.org/wiki/2021_British_Gran...,2021-07-16,\N,2021-07-17,\N,\N,\N,2021-07-16,\N,2021-07-17,\N
1047,1062,2021,11,11,Hungarian Grand Prix,2021-08-01,13:00:00,http://en.wikipedia.org/wiki/2021_Hungarian_Gr...,2021-07-30,\N,2021-07-30,\N,2021-07-31,\N,2021-07-31,\N,\N,\N
1048,1063,2021,12,13,Belgian Grand Prix,2021-08-29,13:00:00,http://en.wikipedia.org/wiki/2021_Belgian_Gran...,2021-08-27,\N,2021-08-27,\N,2021-08-28,\N,2021-08-28,\N,\N,\N
1049,1064,2021,13,39,Dutch Grand Prix,2021-09-05,13:00:00,http://en.wikipedia.org/wiki/2021_Dutch_Grand_...,2021-09-03,\N,2021-09-03,\N,2021-09-04,\N,2021-09-04,\N,\N,\N
1050,1065,2021,14,14,Italian Grand Prix,2021-09-12,13:00:00,http://en.wikipedia.org/wiki/2021_Italian_Gran...,2021-09-10,\N,2021-09-11,\N,\N,\N,2021-09-10,\N,2021-09-11,\N
1051,1066,2021,15,71,Russian Grand Prix,2021-09-26,12:00:00,http://en.wikipedia.org/wiki/2021_Russian_Gran...,2021-09-24,\N,2021-09-24,\N,2021-09-25,\N,2021-09-25,\N,\N,\N
1052,1067,2021,16,5,Turkish Grand Prix,2021-10-10,12:00:00,http://en.wikipedia.org/wiki/2021_Turkish_Gran...,2021-10-08,\N,2021-10-08,\N,2021-10-09,\N,2021-10-09,\N,\N,\N
1053,1069,2021,17,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...,2021-10-22,\N,2021-10-22,\N,2021-10-23,\N,2021-10-23,\N,\N,\N
1054,1070,2021,18,32,Mexico City Grand Prix,2021-11-07,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...,2021-11-05,\N,2021-11-05,\N,2021-11-06,\N,2021-11-06,\N,\N,\N
1055,1071,2021,19,18,São Paulo Grand Prix,2021-11-14,17:00:00,http://en.wikipedia.org/wiki/2021_S%C3%A3o_Pau...,2021-11-12,\N,2021-11-13,\N,\N,\N,2021-11-12,\N,2021-11-13,\N
1056,1072,2021,21,77,Saudi Arabian Grand Prix,2021-12-05,17:30:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...,2021-12-03,\N,2021-12-03,\N,2021-12-04,\N,2021-12-04,\N,\N,\N
1057,1073,2021,22,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...,2021-12-10,\N,2021-12-10,\N,2021-12-11,\N,2021-12-11,\N,\N,\N

In [25]:
df3=df[(df['raceId']>1050)&(df['raceId']<1074)]

In [26]:
df3['raceId'].unique()

array([1052, 1053, 1054, 1055, 1056, 1057, 1059, 1058, 1060, 1061, 1062,
       1064, 1065, 1066, 1067, 1069, 1070, 1071, 1051, 1072, 1073],
      dtype=int64)

In [27]:
before=[ 1054, 1055, 1056, 1057, 1059, 1058, 1060, 1061, 1062]
after=[ 1066, 1067, 1069, 1070, 1071, 1051, 1072, 1073]

In [28]:
print(len(before))
print(len(after))

9
10

In [29]:
df3

      raceId  driverId  stop  lap      time duration  milliseconds
8030    1052       815     1    2  18:11:56   23.993         23993
8031    1052       842     1    4  18:16:14   38.338         38338
8032    1052         4     1   11  18:27:32   24.373         24373
8033    1052       846     1   12  18:29:05   24.899         24899
8034    1052       844     1   12  18:29:06   24.925         24925
...      ...       ...   ...  ...       ...      ...           ...
8823    1073       840     2   52  18:22:55   22.661         22661
8824    1073       815     3   53  18:23:09   21.385         21385
8825    1073       854     2   52  18:23:42   22.070         22070
8826    1073       852     2   53  18:24:01   21.909         21909
8827    1073       842     2   54  18:25:56   21.920         21920

[798 rows x 7 columns]

In [30]:
temp=df3[df3['raceId']==1052]
df4=pd.merge(temp,final,on='driverId')
df4

,raceId_x,driverId,stop,lap,time,duration,milliseconds,raceId_y,constructorId,driverRef,code,name
0,1052,815,1,2,18:11:56,23.993,23993,1052,9,perez,PER,Red Bull
1,1052,815,2,19,18:40:35,24.105,24105,1052,9,perez,PER,Red Bull
2,1052,815,3,38,19:11:20,24.191,24191,1052,9,perez,PER,Red Bull
3,1052,842,1,4,18:16:14,38.338,38338,1052,213,gasly,GAS,AlphaTauri
4,1052,842,2,19,18:41:17,24.317,24317,1052,213,gasly,GAS,AlphaTauri
5,1052,842,3,39,19:13:55,24.983,24983,1052,213,gasly,GAS,AlphaTauri
6,1052,4,1,11,18:27:32,24.373,24373,1052,214,alonso,ALO,Alpine F1 Team
7,1052,4,2,29,18:57:13,24.775,24775,1052,214,alonso,ALO,Alpine F1 Team
8,1052,846,1,12,18:29:05,24.899,24899,1052,1,norris,NOR,McLaren
9,1052,846,2,33,19:03:11,25.640,25640,1052,1,norris,NOR,McLaren
10,1052,844,1,12,18:29:06,24.925,24925,1052,6,leclerc,LEC,Ferrari
11,1052,844,2,32,19:01:40,24.176,24176,1052,6,leclerc,LEC,Ferrari
12,1052,840,1,12,18:29:09,24.884,24884,1052,117,stroll,STR,Aston Martin
13,1052,840,2,28,18:55:23,25.525,25525,1052,117,stroll,STR,Aston Martin
14,1052,841,1,12,18:29:14,31.998,31998,1052,51,giovinazzi,GIO,Alfa Romeo
15,1052,841,2,30,18:58:53,24.223,24223,1052,51,giovinazzi,GIO,Alfa Romeo
16,1052,1,1,13,18:30:29,24.839,24839,1052,131,hamilton,HAM,Mercedes
17,1052,1,2,28,18:54:40,24.076,24076,1052,131,hamilton,HAM,Mercedes
18,1052,817,1,13,18:30:45,24.688,24688,1052,1,ricciardo,RIC,McLaren
19,1052,817,2,32,19:01:44,24.655,24655,1052,1,ricciardo,RIC,McLaren
20,1052,8,1,13,18:30:52,24.107,24107,1052,51,raikkonen,RAI,Alfa Romeo
21,1052,8,2,29,18:57:06,24.046,24046,1052,51,raikkonen,RAI,Alfa Romeo
22,1052,839,1,13,18:30:55,25.226,25226,1052,214,ocon,OCO,Alpine F1 Team
23,1052,839,2,31,19:00:29,24.471,24471,1052,214,ocon,OCO,Alpine F1 Team
24,1052,847,1,13,18:31:02,24.621,24621,1052,3,russell,RUS,Williams
25,1052,847,2,36,19:08:48,24.248,24248,1052,3,russell,RUS,Williams
26,1052,849,1,14,18:32:44,26.046,26046,1052,3,latifi,LAT,Williams
27,1052,849,2,32,19:02:32,23.983,23983,1052,3,latifi,LAT,Williams
28,1052,854,1,14,18:32:58,25.798,25798,1052,210,mick_schumacher,MSC,Haas F1 Team
29,1052,854,2,33,19:04:27,25.343,25343,1052,210,mick_schumacher,MSC,Haas F1 Team
30,1052,832,1,15,18:34:04,24.353,24353,1052,6,sainz,SAI,Ferrari
31,1052,832,2,37,19:09:53,24.341,24341,1052,6,sainz,SAI,Ferrari
32,1052,852,1,15,18:34:12,25.046,25046,1052,213,tsunoda,TSU,AlphaTauri
33,1052,852,2,33,19:03:36,24.328,24328,1052,213,tsunoda,TSU,AlphaTauri
34,1052,822,1,16,18:35:24,24.262,24262,1052,131,bottas,BOT,Mercedes
35,1052,822,2,30,18:57:58,32.897,32897,1052,131,bottas,BOT,Mercedes
36,1052,822,3,54,19:36:21,24.566,24566,1052,131,bottas,BOT,Mercedes
37,1052,830,1,17,18:36:54,24.767,24767,1052,9,max_verstappen,VER,Red Bull
38,1052,830,2,39,19:12:13,23.848,23848,1052,9,max_verstappen,VER,Red Bull
39,1052,20,1,24,18:49:08,24.626,24626,1052,117,vettel,VET,Aston Martin

In [31]:
pivot_table = df4.pivot_table(index='raceId_x',columns='name', values='milliseconds', aggfunc='mean')
pivot_table

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1052,26093.5,27402.4,24711.25,25011.666667,24448.75,25570.5,24970.5,26128.0,24180.8,24724.5

In [32]:
temp=df3[df3['raceId']==1053]
df4=pd.merge(temp,final,on='driverId')
df4=df4[df4['milliseconds']<40_000]
df4

,raceId_x,driverId,stop,lap,time,duration,milliseconds,raceId_y,constructorId,driverRef,code,name
0,1053,839,1,1,15:05:16,30.866,30866,1052,214,ocon,OCO,Alpine F1 Team
1,1053,839,2,27,15:49:42,30.652,30652,1052,214,ocon,OCO,Alpine F1 Team
2,1053,839,3,31,15:56:23,30.701,30701,1052,214,ocon,OCO,Alpine F1 Team
5,1053,20,1,3,15:10:09,32.024,32024,1052,117,vettel,VET,Aston Martin
6,1053,20,2,20,15:39:11,31.184,31184,1052,117,vettel,VET,Aston Martin
7,1053,20,3,22,15:42:52,39.502,39502,1052,117,vettel,VET,Aston Martin
11,1053,854,2,21,15:41:24,32.479,32479,1052,210,mick_schumacher,MSC,Haas F1 Team
14,1053,853,1,12,15:27:20,31.168,31168,1052,210,mazepin,MAZ,Haas F1 Team
15,1053,853,2,23,15:45:20,31.500,31500,1052,210,mazepin,MAZ,Haas F1 Team
18,1053,842,1,14,15:30:10,31.068,31068,1052,213,gasly,GAS,AlphaTauri
19,1053,842,2,26,15:48:45,32.277,32277,1052,213,gasly,GAS,AlphaTauri
22,1053,852,1,25,15:46:39,30.696,30696,1052,213,tsunoda,TSU,AlphaTauri
25,1053,847,1,26,15:47:53,29.983,29983,1052,3,russell,RUS,Williams
26,1053,8,1,26,15:47:55,30.280,30280,1052,51,raikkonen,RAI,Alfa Romeo
29,1053,830,1,27,15:47:59,29.809,29809,1052,9,max_verstappen,VER,Red Bull
31,1053,832,1,27,15:48:51,30.856,30856,1052,6,sainz,SAI,Ferrari
33,1053,817,1,27,15:48:57,34.340,34340,1052,1,ricciardo,RIC,McLaren
35,1053,840,1,27,15:49:16,31.138,31138,1052,117,stroll,STR,Aston Martin
38,1053,1,1,28,15:49:27,32.112,32112,1052,131,hamilton,HAM,Mercedes
39,1053,1,2,31,15:55:30,38.198,38198,1052,131,hamilton,HAM,Mercedes
42,1053,841,1,27,15:49:32,32.299,32299,1052,51,giovinazzi,GIO,Alfa Romeo
45,1053,841,4,40,16:36:13,29.742,29742,1052,51,giovinazzi,GIO,Alfa Romeo
46,1053,844,1,28,15:49:43,31.002,31002,1052,6,leclerc,LEC,Ferrari
50,1053,846,1,28,15:50:11,30.654,30654,1052,1,norris,NOR,McLaren
52,1053,822,1,28,15:50:46,30.167,30167,1052,131,bottas,BOT,Mercedes
53,1053,4,1,28,15:51:18,30.864,30864,1052,214,alonso,ALO,Alpine F1 Team

In [33]:
pivot_table2 = df4.pivot_table(index='raceId_x',columns='name', values='milliseconds', aggfunc='mean')
pivot_table2

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1053,30773.666667,31347.0,30770.75,33462.0,30929.0,31715.666667,32497.0,33492.333333,29809.0,29983.0

In [34]:
final_df=pivot_table.append(pivot_table2)

C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\375078999.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=pivot_table.append(pivot_table2)

In [35]:
final_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1052,26093.500000,27402.4,24711.25,25011.666667,24448.75,25570.500000,24970.5,26128.000000,24180.8,24724.5
1053,30773.666667,31347.0,30770.75,33462.000000,30929.00,31715.666667,32497.0,33492.333333,29809.0,29983.0

In [36]:
#final_df=(final_df/10000).round(2)

In [37]:
final_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1052,26093.500000,27402.4,24711.25,25011.666667,24448.75,25570.500000,24970.5,26128.000000,24180.8,24724.5
1053,30773.666667,31347.0,30770.75,33462.000000,30929.00,31715.666667,32497.0,33492.333333,29809.0,29983.0

In [38]:
for i in before:
    temp=df3[df3['raceId']==i]
    df4=pd.merge(temp,final,on='driverId')
    df4=df4[df4['milliseconds']<40_000]
    #print(df4)
    pivot_table = df4.pivot_table(index='raceId_x',columns='name', values='milliseconds', aggfunc='mean')
    final_df=final_df.append(pivot_table)

C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\593282327.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)

In [39]:
final_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1052,26093.500000,27402.400000,24711.250000,25011.666667,24448.750000,25570.500000,24970.500000,26128.000000,24180.800000,24724.500000
1053,30773.666667,31347.000000,30770.750000,33462.000000,30929.000000,31715.666667,32497.000000,33492.333333,29809.000000,29983.000000
1054,23961.000000,23475.666667,23343.833333,23372.500000,23526.166667,23952.000000,23978.166667,24065.285714,24068.714286,23904.166667
1055,22221.500000,27053.500000,22773.333333,22062.000000,21885.000000,22979.000000,22124.750000,22061.750000,22221.000000,23246.800000
1056,24299.000000,24429.000000,23869.000000,23921.500000,24150.000000,24999.500000,24294.500000,24013.500000,24147.000000,23815.500000
1057,18117.600000,17609.250000,18527.666667,17393.000000,17527.750000,20376.571429,17868.750000,19901.000000,18973.333333,20896.500000
1059,30956.500000,30503.500000,30747.500000,31032.500000,30900.000000,31220.000000,30241.000000,30417.500000,29869.333333,29933.500000
1058,21218.500000,21234.000000,21184.500000,21241.000000,23845.333333,22579.500000,21551.000000,21537.000000,21791.333333,28560.333333
1060,23382.333333,22790.750000,22663.000000,21197.500000,21287.000000,22326.666667,23812.500000,21165.666667,21353.666667,21379.000000
1061,28123.500000,28666.333333,29257.500000,28179.000000,32971.000000,29286.000000,30261.500000,28209.000000,28274.000000,27677.500000
1062,29659.571429,26124.000000,29952.250000,22703.000000,21951.000000,27547.000000,31460.666667,21485.000000,24927.250000,28336.250000

In [48]:
final2_df=(final_df/10000).round(2)
final2_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1052,2.61,2.74,2.47,2.50,2.44,2.56,2.50,2.61,2.42,2.47
1053,3.08,3.13,3.08,3.35,3.09,3.17,3.25,3.35,2.98,3.00
1054,2.40,2.35,2.33,2.34,2.35,2.40,2.40,2.41,2.41,2.39
1055,2.22,2.71,2.28,2.21,2.19,2.30,2.21,2.21,2.22,2.32
1056,2.43,2.44,2.39,2.39,2.42,2.50,2.43,2.40,2.41,2.38
1057,1.81,1.76,1.85,1.74,1.75,2.04,1.79,1.99,1.90,2.09
1059,3.10,3.05,3.07,3.10,3.09,3.12,3.02,3.04,2.99,2.99
1058,2.12,2.12,2.12,2.12,2.38,2.26,2.16,2.15,2.18,2.86
1060,2.34,2.28,2.27,2.12,2.13,2.23,2.38,2.12,2.14,2.14
1061,2.81,2.87,2.93,2.82,3.30,2.93,3.03,2.82,2.83,2.77
1062,2.97,2.61,3.00,2.27,2.20,2.75,3.15,2.15,2.49,2.83

In [55]:
data_before=final2_df.describe()
data_before=data_before.round(2)
data_before

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
count,11.00,11.00,11.00,11.00,11.00,11.00,11.00,11.00,11.00,11.00
mean,2.54,2.55,2.53,2.45,2.49,2.57,2.57,2.48,2.45,2.57
std,0.42,0.41,0.42,0.47,0.48,0.38,0.47,0.43,0.35,0.33
min,1.81,1.76,1.85,1.74,1.75,2.04,1.79,1.99,1.90,2.09
25%,2.28,2.32,2.28,2.16,2.20,2.28,2.30,2.15,2.20,2.35
50%,2.43,2.61,2.39,2.34,2.38,2.50,2.43,2.40,2.41,2.47
75%,2.89,2.80,2.96,2.66,2.76,2.84,3.02,2.72,2.66,2.84
max,3.10,3.13,3.08,3.35,3.30,3.17,3.25,3.35,2.99,3.00

In [59]:
data_before.iloc[1].mean()

2.52

In [ ]:
1064, 1065,

In [60]:
temp=df3[df3['raceId']==1064]
df4=pd.merge(temp,final,on='driverId')
df4=df4[df4['milliseconds']<40_000]
df4

,raceId_x,driverId,stop,lap,time,duration,milliseconds,raceId_y,constructorId,driverRef,code,name
0,1064,854,1,4,15:08:42,35.573,35573,1052,210,mick_schumacher,MSC,Haas F1 Team
1,1064,854,2,30,15:43:39,24.578,24578,1052,210,mick_schumacher,MSC,Haas F1 Team
2,1064,815,1,8,15:13:52,19.287,19287,1052,9,perez,PER,Red Bull
3,1064,815,2,47,16:03:51,18.555,18555,1052,9,perez,PER,Red Bull
4,1064,20,1,10,15:16:24,18.664,18664,1052,117,vettel,VET,Aston Martin
5,1064,20,2,44,16:00:37,18.681,18681,1052,117,vettel,VET,Aston Martin
6,1064,1,1,20,15:28:18,19.770,19770,1052,131,hamilton,HAM,Mercedes
7,1064,1,2,39,15:52:19,18.868,18868,1052,131,hamilton,HAM,Mercedes
8,1064,1,3,70,16:30:49,19.202,19202,1052,131,hamilton,HAM,Mercedes
9,1064,830,1,21,15:29:30,19.142,19142,1052,9,max_verstappen,VER,Red Bull
10,1064,830,2,40,15:53:30,18.578,18578,1052,9,max_verstappen,VER,Red Bull
11,1064,849,1,23,15:33:19,20.646,20646,1052,3,latifi,LAT,Williams
12,1064,842,1,24,15:33:50,19.163,19163,1052,213,gasly,GAS,AlphaTauri
13,1064,841,1,27,15:38:13,19.049,19049,1052,51,giovinazzi,GIO,Alfa Romeo
14,1064,841,2,33,15:46:17,20.043,20043,1052,51,giovinazzi,GIO,Alfa Romeo
15,1064,847,1,27,15:38:14,18.634,18634,1052,3,russell,RUS,Williams
16,1064,847,2,68,16:30:57,25.533,25533,1052,3,russell,RUS,Williams
17,1064,840,1,27,15:38:17,19.389,19389,1052,117,stroll,STR,Aston Martin
18,1064,817,1,30,15:42:01,19.449,19449,1052,1,ricciardo,RIC,McLaren
19,1064,822,1,31,15:42:24,18.873,18873,1052,131,bottas,BOT,Mercedes
20,1064,822,2,67,16:27:35,21.730,21730,1052,131,bottas,BOT,Mercedes
21,1064,832,1,31,15:42:58,20.327,20327,1052,6,sainz,SAI,Ferrari
22,1064,839,1,31,15:43:12,19.240,19240,1052,214,ocon,OCO,Alpine F1 Team
23,1064,852,1,31,15:43:30,19.850,19850,1052,213,tsunoda,TSU,AlphaTauri
24,1064,4,1,33,15:45:41,19.018,19018,1052,214,alonso,ALO,Alpine F1 Team
25,1064,853,1,33,15:46:35,19.999,19999,1052,210,mazepin,MAZ,Haas F1 Team
26,1064,844,1,34,15:46:39,19.490,19490,1052,6,leclerc,LEC,Ferrari
27,1064,9,1,40,15:55:29,19.708,19708,1064,51,kubica,KUB,Alfa Romeo
28,1064,846,1,42,15:57:26,20.443,20443,1052,1,norris,NOR,McLaren

In [61]:
pivot_table = df4.pivot_table(index='raceId_x',columns='name', values='milliseconds', aggfunc='mean')
pivot_table

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1064,19600.0,19506.5,19129.0,18911.333333,19908.5,26716.666667,19946.0,19688.6,18890.5,21604.333333

In [62]:
temp=df3[df3['raceId']==1065]
df4=pd.merge(temp,final,on='driverId')
df4=df4[df4['milliseconds']<40_000]
df4

,raceId_x,driverId,stop,lap,time,duration,milliseconds,raceId_y,constructorId,driverRef,code,name
0,1065,841,1,1,15:05:21,37.190,37190,1052,51,giovinazzi,GIO,Alfa Romeo
1,1065,841,2,25,15:40:55,30.551,30551,1052,51,giovinazzi,GIO,Alfa Romeo
2,1065,817,1,22,15:35:18,23.812,23812,1052,1,ricciardo,RIC,McLaren
3,1065,20,1,22,15:35:56,25.157,25157,1052,117,vettel,VET,Aston Martin
4,1065,20,2,26,15:42:41,25.927,25927,1052,117,vettel,VET,Aston Martin
5,1065,830,1,23,15:36:46,32.456,32456,1052,9,max_verstappen,VER,Red Bull
6,1065,849,1,23,15:37:22,24.168,24168,1052,3,latifi,LAT,Williams
7,1065,854,1,23,15:37:49,24.714,24714,1052,210,mick_schumacher,MSC,Haas F1 Team
8,1065,846,1,24,15:38:19,24.168,24168,1052,1,norris,NOR,McLaren
9,1065,853,1,24,15:39:22,24.928,24928,1052,210,mazepin,MAZ,Haas F1 Team
10,1065,853,2,28,15:47:13,24.806,24806,1052,210,mazepin,MAZ,Haas F1 Team
11,1065,853,3,39,16:05:25,30.917,30917,1052,210,mazepin,MAZ,Haas F1 Team
12,1065,1,1,25,15:39:44,25.619,25619,1052,131,hamilton,HAM,Mercedes
13,1065,840,1,25,15:40:09,24.846,24846,1052,117,stroll,STR,Aston Martin
14,1065,4,1,25,15:40:14,24.797,24797,1052,214,alonso,ALO,Alpine F1 Team
15,1065,844,1,26,15:41:30,24.557,24557,1052,6,leclerc,LEC,Ferrari
16,1065,815,1,26,15:41:34,23.906,23906,1052,9,perez,PER,Red Bull
17,1065,832,1,26,15:41:48,24.283,24283,1052,6,sainz,SAI,Ferrari
18,1065,822,1,26,15:41:50,24.308,24308,1052,131,bottas,BOT,Mercedes
19,1065,839,1,26,15:42:10,30.333,30333,1052,214,ocon,OCO,Alpine F1 Team
20,1065,847,1,26,15:42:13,24.156,24156,1052,3,russell,RUS,Williams
21,1065,9,1,26,15:42:21,24.501,24501,1064,51,kubica,KUB,Alfa Romeo

In [63]:
pivot_table2 = df4.pivot_table(index='raceId_x',columns='name', values='milliseconds', aggfunc='mean')
pivot_table2

name,Alfa Romeo,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,
1065,30747.333333,27565.0,25310.0,24420.0,26341.25,23990.0,24963.5,28181.0,24162.0

In [64]:
final_df=pivot_table.append(pivot_table2)

C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\375078999.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=pivot_table.append(pivot_table2)

In [65]:
final_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1064,19600.000000,19506.5,19129.0,18911.333333,19908.5,26716.666667,19946.0,19688.6,18890.5,21604.333333
1065,30747.333333,NaN,27565.0,25310.000000,24420.0,26341.250000,23990.0,24963.5,28181.0,24162.000000

In [66]:
for i in after:
    temp=df3[df3['raceId']==i]
    df4=pd.merge(temp,final,on='driverId')
    df4=df4[df4['milliseconds']<40_000]
    #print(df4)
    pivot_table = df4.pivot_table(index='raceId_x',columns='name', values='milliseconds', aggfunc='mean')
    final_df=final_df.append(pivot_table)

C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)
C:\Users\mohdk\AppData\Local\Temp\ipykernel_12396\212221273.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(pivot_table)

In [67]:
final_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1064,19600.000000,19506.500000,19129.00,18911.333333,19908.50,26716.666667,19946.00,19688.600000,18890.500000,21604.333333
1065,30747.333333,NaN,27565.00,25310.000000,24420.00,26341.250000,23990.00,24963.500000,28181.000000,24162.000000
1064,19600.000000,19506.500000,19129.00,18911.333333,19908.50,26716.666667,19946.00,19688.600000,18890.500000,21604.333333
1065,30747.333333,NaN,27565.00,25310.000000,24420.00,26341.250000,23990.00,24963.500000,28181.000000,24162.000000
1066,31068.750000,30666.600000,31006.00,30537.000000,31472.25,31351.333333,31781.75,29857.000000,32233.500000,30934.000000
1067,23157.000000,26319.500000,29116.00,27507.666667,25999.50,23860.500000,23133.50,22823.000000,22452.500000,23827.500000
1069,23944.000000,23692.000000,23663.25,24027.000000,24524.00,25598.600000,24536.25,24055.000000,24100.250000,26203.750000
1070,22314.500000,22549.000000,23542.50,23973.000000,22058.00,24365.500000,27825.00,25124.600000,22011.000000,22801.333333
1071,20673.375000,22836.111111,20073.00,20617.857143,20543.00,20954.428571,20876.25,20472.375000,20710.222222,20995.500000
1051,25785.250000,26018.000000,25754.00,25941.500000,25719.00,26198.000000,25811.00,28985.666667,25355.800000,28979.333333
1072,34489.000000,27874.000000,20751.00,27165.000000,20531.00,NaN,20973.00,21124.000000,20710.000000,22369.500000
1073,22310.500000,22104.250000,21490.50,22056.666667,21949.00,22097.000000,21764.50,21632.000000,21457.500000,21241.000000

In [68]:
final2_df=(final_df/10000).round(2)
final2_df

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
raceId_x,,,,,,,,,,
1064,1.96,1.95,1.91,1.89,1.99,2.67,1.99,1.97,1.89,2.16
1065,3.07,NaN,2.76,2.53,2.44,2.63,2.40,2.50,2.82,2.42
1064,1.96,1.95,1.91,1.89,1.99,2.67,1.99,1.97,1.89,2.16
1065,3.07,NaN,2.76,2.53,2.44,2.63,2.40,2.50,2.82,2.42
1066,3.11,3.07,3.10,3.05,3.15,3.14,3.18,2.99,3.22,3.09
1067,2.32,2.63,2.91,2.75,2.60,2.39,2.31,2.28,2.25,2.38
1069,2.39,2.37,2.37,2.40,2.45,2.56,2.45,2.41,2.41,2.62
1070,2.23,2.25,2.35,2.40,2.21,2.44,2.78,2.51,2.20,2.28
1071,2.07,2.28,2.01,2.06,2.05,2.10,2.09,2.05,2.07,2.10
1051,2.58,2.60,2.58,2.59,2.57,2.62,2.58,2.90,2.54,2.90
1072,3.45,2.79,2.08,2.72,2.05,NaN,2.10,2.11,2.07,2.24
1073,2.23,2.21,2.15,2.21,2.19,2.21,2.18,2.16,2.15,2.12

In [69]:
data_before=final2_df.describe()
data_before=data_before.round(2)
data_before

name,Alfa Romeo,AlphaTauri,Alpine F1 Team,Aston Martin,Ferrari,Haas F1 Team,McLaren,Mercedes,Red Bull,Williams
count,12.00,10.00,12.00,12.00,12.00,11.00,12.00,12.00,12.00,12.00
mean,2.54,2.41,2.41,2.42,2.34,2.55,2.37,2.36,2.36,2.41
std,0.51,0.36,0.41,0.35,0.34,0.27,0.35,0.34,0.41,0.32
min,1.96,1.95,1.91,1.89,1.99,2.10,1.99,1.97,1.89,2.10
25%,2.19,2.22,2.06,2.17,2.05,2.42,2.10,2.09,2.07,2.16
50%,2.36,2.33,2.36,2.46,2.33,2.62,2.36,2.34,2.22,2.33
75%,3.07,2.62,2.76,2.62,2.48,2.65,2.48,2.50,2.61,2.47
max,3.45,3.07,3.10,3.05,3.15,3.14,3.18,2.99,3.22,3.09

In [70]:
data_before.iloc[1].mean()

2.4170000000000003